body {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
}
.navbar > .links {
  display: flex;
}

.navbar > .links > div {
  margin-left: 25px;
  font-weight: bold;
  font-size: 18px;
}
.navbar > .links > div.active {
  color: orange;
}
.box {
  background-image: url("./landing-top-bg-img-new.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
}
.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* animation-name: move; */
  /* animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate; */
  font-size: 200px;
  color: white;
  text-transform: uppercase;
  /* font-family: "Russo One", sans-serif; */
  font-family: "Anton", sans-serif;
  transition: transform 0.3s ease-out;
  z-index: 3;
  letter-spacing: 30px;
}

.text1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-45%, -45%);
  -webkit-text-stroke: 2px white;
  font-size: 200px;
  color: black;
  text-transform: uppercase;
  font-family: "Anton", sans-serif;
  transition: transform 0.3s ease-out;
  z-index: 2;
  letter-spacing: 30px;
}

.text2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-40%, -40%);
  -webkit-text-stroke: 2px white;
  font-size: 200px;
  color: black;
  text-transform: uppercase;
  font-family: "Anton", sans-serif;
  transition: transform 0.3s ease-out;
  z-index: 1;
  letter-spacing: 30px;
}

/******************** hero *******************************/
.hero {
  position: relative;
  padding: 50px 3% 50px 7%;
  display: flex;
  background: linear-gradient(
    to left,
    rgb(255, 239, 242) 20%,
    white,
    transparent 40%
  );
  /* width: 100%; */
}
.hero-details {
  width: 60%;
}
.hero-details > h4 {
  color: pink;
  display: inline-block;
}

.line4 {
  border: none;
  height: 1px;
  background-color: pink;
  width: 50px;
  display: inline-block;
  margin-left: 20px;
  margin-bottom: 5px;
}
.circle {
  position: absolute;
  background-color: rgb(255, 232, 235);
  top: 20px;
  left: 50px;
  border-radius: 50%;
  width: 60px;
  height: 60px;
}
.circle-small {
  position: absolute;
  background-color: rgb(255, 232, 235);
  bottom: 50%;
  left: 62px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}
.circle-half {
  position: absolute;
  background-color: rgb(255, 232, 235);
  bottom: 100px;
  left: 0px;
  border-radius: 50%;
  width: 70px;
  height: 70px;
}
.hero-details > h1 {
  font-size: 75px;
}

.hero-details > h1 > span {
  color: orange;
}

.hero-details > button {
  border: none;
  padding: 15px 30px;
  border-radius: 50px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  background-image: linear-gradient(to right, orange, pink);
}
.hero-img {
  width: 30%;
}

.hero-img > img {
  width: 100%;
}

.box {
  width: 100vw;
  height: 100vh;
  background-color: black;
}

.trust {
  /* display: flex; */
}
.trust > img {
  width: 200px;
}

.trust > h2 {
  display: flex;
  justify-content: center;
  color: gray;
}
.section2-box {
  position: relative;
}
.section2 {
  display: flex;
  padding: 100px 100px;
  align-items: center;
}

.section2-img {
  padding: 50px;
}

.section2 > p {
  color: gray;
  line-height: 25px;
  font-size: 18px;
  z-index: 2;
}

.section2-over {
  position: absolute;
  width: 100%;
  top: 0;
  background-color: aqua;
}
.text-bold {
  font-weight: bold;
  color: black;
}
.section2-head1 {
  font-size: 200px;
  color: rgb(231, 226, 226);

  position: absolute;
  top: 150px;
  letter-spacing: 20px;
  z-index: 1;
  text-transform: uppercase;
  font-family: "Anton", sans-serif;
}

.section2-head2 {
  font-size: 200px;
  color: rgb(231, 226, 226);
  position: absolute;
  top: 450px;
  right: 10px;
  font-family: "Anton", sans-serif;
  letter-spacing: 20px;
  text-transform: uppercase;
}

/***************** project section **********************************/
.project {
  display: flex;
  /* width: 100vw; */
  height: 800px;
}
#projectDetails {
  width: 50%;
  position: relative;
  overflow: hidden;
  height: 800px;
  /* background-color: #0c6a65; */
  background-color: orange;
  z-index: 3;
}
.project-right {
  width: 95%;
  /* height: 700px; */
  padding: 50px 5%;
  color: white;

  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: transform 1s ease-in-out, opacity 1s ease-in-out;
  height: 100%;
}

.project-slider {
  margin-top: 50px;
}

.project-right > h1 {
  font-size: 48px;
}

.project-right > h2 {
  font-size: 30px;
}

.project-right > button {
  border-radius: 50px;
  padding: 15px 30px;
  background-color: white;
  color: orange;
  border: none;
  font-size: 16px;
  cursor: pointer;
}
.project-right > button:hover {
  background-color: rgb(215, 211, 211);
}

.project-slider > img {
  width: 95%;
  height: 60%;
}

#imageContainer {
  position: relative;
  overflow: hidden;
  width: 50%; /* Adjust the width as per your requirements */
  height: 800px; /* Adjust the height as per your requirements */
  z-index: 2;
}

#imageContainer img {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: transform 1s ease-in-out, opacity 1s ease-in-out;
  z-index: 2;
  height: 100%;
}

.what {
  background-color: black;
  padding: 100px;
}
.what > h1 {
  font-size: 75px;
  color: black;
  font-family: sans-serif;
  -webkit-text-stroke: 2px white;
}

.what > h1 > span {
  color: orange;
  -webkit-text-stroke: 0;
}

.what > p {
  color: gray;
  font-size: 25px;
}

.what > p > span {
  color: orange;
  font-size: 25px;
}

.client {
  background-color: black;
  padding: 100px 100px;
}
.client > h1 {
  color: white;
}

.testimony {
}

.testimony-orange {
  color: orange;
}

.testimony > p {
  color: gray;
  font-size: 25px;
  font-weight: 600;
}

.testimony-autor {
  display: flex;
}
.testimony-autor > img {
  border-radius: 50%;
  width: 70px;
  height: 70px;
}
.testimony-name {
  color: orange;
  font-size: 25px;
  font-weight: 600;
}
.testimony-box {
  margin-left: 20px;
}
.testimony-box > p {
  background-color: gray;
  padding: 10px 20px;
  margin: 0;
}

.line-box {
  width: 100vw;
  overflow-x: hidden;
  height: 70px;
  background-color: black;
  padding: 100px 0;
}

#line {
  font-style: normal;
  text-decoration: none;
  color: black;
  font-family: sans-serif;
  -webkit-text-stroke: 2px white;
  font-weight: 700;
  font-size: 48px;
  width: 100%;
  /* line-height: 70px; */
  animation: moveLine 50s linear infinite;
  white-space: nowrap;
}

#line > span {
  color: orange;
  -webkit-text-stroke: 0;
}

@keyframes moveLine {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.block {
  background-color: black;
  display: inline-block;
  padding: 10px;
}

.block-text {
  text-decoration: none;
  color: black;
  font-family: "Ubuntu", sans-serif;
  -webkit-text-stroke: 2px white;
  font-weight: 700;
  font-size: 48px;
}

.charges {
  padding: 100px 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.charges > h1 {
  font-size: 75px;
  color: white;
  font-family: sans-serif;
  -webkit-text-stroke: 2px black;
}

.charges > p {
  color: gray;
  font-size: 18px;
}
.charges > h1 > span {
  color: orange;
  -webkit-text-stroke: 0;
}
.charges > h2 > span {
  color: orange;
}

.charges > p > span {
  color: orange;
}

.charges > div {
  font-size: 18px;
  font-weight: bold;
  color: gray;
}

.contact {
  padding: 100px;
  display: grid;
  /* grid-column: 4; */
  column-gap: 50px;
  grid-template-columns: auto 400px 200px;
  background-color: black;
  color: white;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.contact-form-input {
  border-bottom: 1px gray solid;
  padding: 30px 0;
}
.contact-form > .contact-form-input > label {
  font-weight: bold;
}
.contact-form > .contact-form-input > input {
  padding-left: 10px;
  background-color: black;
  color: orange;
  border: none;
  font-size: 16px;
}

.contact-form > .contact-form-input > input:focus {
  outline: none;
  border-color: black;
}

.contact-form > .contact-form-input > textarea:focus {
  outline: none;
  border-color: black;
}

.contact-form > .contact-form-input > textarea {
  background-color: black;
  color: orange;
  border: none;
}
.contact2 > h2 {
  color: gray;
}
.contact-links {
}

.contact-links > ul > li {
  text-decoration: none;
  margin: 10px 0;
  font-weight: bold;
}

.footer {
  /* width: 100vw;
  height: 100vh; */
  background-image: url(./landing-inner-pages-bg-img.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 100px;
}

.footer > h1 {
  font-size: 75px;
  color: white;
}
.footer-iconbox {
  display: flex;
}
.footer-icon {
  margin-left: 10px;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 2px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-icon:hover {
  background-color: orange;
  color: white;
}

.footer-bottom {
  background-color: black;
  padding: 20px;
  color: white;
}
